@import '../../styles/settings.scss';

.navBar {
    background-color: darken($color-dark, 3%);
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.icon::before {
    color: white;
    font-size: 30px;
}

span {
    margin: 10px;
}

li {
    display: inline;
    margin: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.linkActive {
    color: $color-warning;
}